html{
	background : rgb(230,250,255) ;
}

body{
    font-family: Lato;
}

header{
    color: #000;
    font-size: 50px;
    text-align: center;
    font-family: Lato;
    font-weight: 750;
    background-color: rgba(1, 180, 180, 0.600);
    height: 110px;
}

#imgIcone{
    width: 90px;
    position: fixed;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    transition : opacity 0.3s;
    opacity: 0.5;
}

#imgIcone:hover{
    transition : opacity 0.3s;
    opacity: 1;
}

.boutonsAccueil{
    background-color: #e3eff9;
    color: #fff;
    font-size: 20px;
    font-family: "Lato";
}

.boutonsAccueil:hover {
    background-color: #97c2ef;
}

.boutons {
    display: inline-block;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius:8px;
    transition: background-color 0.2s;
    margin: 0px;
    font-size: 16px;
}

#lienAccueil {
    color: #000; /* Couleur de votre choix */
    text-decoration: none;
}

div{
    margin-bottom:-15px;
}

#presentation{
    font-size: 18px;
}

#logoRS{
    width: 50px;
    text-decoration: none;
}

#contact{
    font-size: 20px;
    align-content: center;
}
