html{
	background : rgb(255, 255, 255) ;
}

body{
    font-family: Lato;
    font-size:20px;
}

header{
    color: #000;
    font-size: 50px;
    text-align: center;
    font-family: Lato;
    font-weight: 750;
    background-color: rgba(1, 180, 180, 0.600);
    height: 110px;
    margin-top: -30px;
}

#pres{
    font-size:2.4rem;
}

#imgIcone{
    width: 90px;
    position: fixed;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    transition : opacity 0.3s;
    opacity: 0.5;
}

#imgIcone:hover{
    transition : opacity 0.3s;
    opacity: 1;
}

.boutonsAccueil{
    background-color: #ffffff;
    
    font-size: 20px;
    font-family: "Lato";
}

.boutonsAccueil:hover {
    background-color: #dce3e5;
}

.boutons {
    display: inline-block;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius:8px;
    transition: background-color 0.2s;
    margin: 0px;
    font-size: 16px;
}

.lienAccueil {
    color: #000; /* Couleur de votre choix */
    text-decoration: none;
}

.headerTitle{
    font-size: larger;
    margin-bottom: -30px;
}

#presentationMoi{
    font-size: 20px;
}

.logoRS{
    img{
        width:60px;
        height: 60px;
        margin-right: 4px;
    }
    text-decoration: none;
    display:flex;
    align-items: center;
}

#contact{
    font-size: 20px;
    display:flex;
    flex-direction: column;
    a{
        text-decoration: none;
        color:#000;
    }
    a:visited{
        text-decoration: none;
    }
}

#contactTitre{
    font-size:2rem;
    margin-bottom: 0px;
}

#cvDiv{
    img{
        width:900px;
    }
    display:flex;
    flex-direction: column;
    align-items: center;
}

#centreItitre{
    font-size:39px;
}

#centreInteret{
    p{
        font-size: 100%;

    }
}

.CIcontent{
    width:1300px;
    margin-left: 8px;
    margin-top: -15px;
    text-align:justify; 
}
